html, body{
   padding: 0px;
   margin: 0px;
}

#map {
    position: fixed;
    width: 100%;
    height: 100%;
}

/*Legenda*/
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    line-height: 24px;
    color: #555;
    width: 250px;
    height: auto;
    overflow: hidden;
}
.legend h5 {
    text-align: left;
    font-size: 14px;
    color: #4C4C4C;
    margin: 0px 0px 0px 0px;
}
.legend h4 {
    text-align:left;
    font-size: 14px;
    color: #4C4C4C;
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
}

  
.legend span {
    position: relative;
    bottom: 5px;
}
  
.legend i {
    width: 24px;
    height: 16px;
    float: left;
    margin: 0 12px 0 0;
    opacity: 0.7;
}
  
.legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
}

#areal {
    background-image: url("img/areal_logo.png");
    background-size: 85px 22px;
    height: 22px;
    width: 85px;
}

#capa{
    background-image: url("img/Geo_branco.PNG");
    background-size: 85px 85px;
    height: 85px;
    width: 85px;
}

#btportugal {
    background-image: url("img/portugal.png");
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    margin-top:1px;
    margin-left: -4px;
}

#btmadeira {
    background-image: url("img/madeira.png");
    background-size:26px 26px;
    width: 26px;
    height: 26px;
    margin-top:1px;
    margin-left: -4px;
}

#btacores {
    background-image: url("img/acores.png");
    background-size:26px 26px;
    width: 26px;
    height: 26px;
    margin-top:1px;
    margin-left: -4px;
}

html::-webkit-scrollbar {
    display: inherit;
}

html:hover::-webkit-scrollbar {
    width: 10px;
}

html:hover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

html:hover::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}